body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

#config-panel
{
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 60px;
}

#joystick-container
{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 60px;
}

.video-container {
    z-index: -1;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#video-stream
{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.control-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.controls {
    display: grid;
    grid-template-areas: 
        ". forward . shoot"
        "left stop right shoot"
        ". backward . shoot";
    gap: 10px;
    align-items: center;
}

.controls button {
    padding: 20px;
    width: 100px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button:active,
.controls button.active {
    background-color: #0056b3;
}

#forward { grid-area: forward; }
#backward { grid-area: backward; }
#left { grid-area: left; }
#right { grid-area: right; }
#stop { grid-area: stop; }
#shoot { grid-area: shoot; }

.terminal
{
    color: rgb(204, 53, 53);
    overflow-y: auto;
    height: 100%;
}

.terminal-holder {
    display:flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.644);
    padding: 60px;


    /*
    width: 100%;
    height: 150px;
    background-color: black;
    color: lime;
    font-family: monospace;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    */
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.input-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex-grow: 1;
}

.input-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-size: 24px;
}

p {
    margin: 5px 0 10px;
}

.stat-container {
    padding: 60px;
    margin: 0;
    float: left;
    width: 200px;
  }

.stat-sub-container
{
    width: 100%;
    height: 100%;
}

  
#hp-bar {
    width: 100%;
    height: 20px;
  }
  #cooldown-bar {
    width: 100%;
    height: 20px;
  }

.container
{
    background: linear-gradient(45deg, #ff0033, #ff6633);
    border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 0, 51, 0.2);
  padding: 5px;
}
  