body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

#config-panel
{
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 60px;
    gap: 10px;
}

#config-panel div {
    margin-bottom: 15px;
}

#config-panel p {
    margin: 5px 0;
}

#config-panel input[type="range"] {
    margin-top: 5px;
}

#joystick-container
{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 60px;
}

.video-container {
    z-index: -1;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#video-stream
{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.terminal
{
    color: rgb(52, 206, 134);
    overflow-y: auto;
    height: 100%;
}

.terminal > div
{
    padding-top: 10px;
}

.terminal-holder {
    display:flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    position: absolute;
    margin: 60px;
    bottom: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.644);
    padding: 60px;
}

input[type="text"] {
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    border: 0;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.stat-container {
    padding: 60px;
    margin: 0;
    float: left;
    width: 200px;
  }

.stat-sub-container
{
    width: 100%;
    height: 100%;
}

.container {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}